/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #a6a6a6;
  --basic-extra-dark: #283136;
  --basic-light-gray: #C1C1C1;
  --basic-gray2: rgba(255, 255, 255, 0.3);
  --basic-very-light-gray: #EEEEEE;
  --basic-red: #FB565A;
  --basic-red2: #E74246;
  --basic-red3: #D7373B;
  --basic-green: #00CA74;
  --basic-green2: #00BC6C;
  --basic-green3: #00AA62;
  --basic-green4: #789b73;
  --basic-yellow: #EFC849;
  --basic-yellow2: #EAB534;
  --basic-yellow3: #E5A722;
  --basic-very-light-gray-2: #E1E1E1;
  --basic-very-dark-gray: #444444;
  --basic-very-dark-grey-2: #666666;
  --basic-very-dark: #283136;
  --basic-color1: #cfcfcf;
  --basic-color2: #00ca74;
  --basic-color3: #d7dcde;
  --basic-color4: #f1f1f1;
  --basic-color5: #4D4D4D;
  --basic-color6: rgba(0, 0, 0, 0.25);
  --basic-color7: rgba(0, 0, 0, 0.1);
  --basic-color8: #F2F2F2;
  --basic-color9: rgba(180, 185, 187, 1);
  --basic-color10: rgba(215, 220, 222, 1);
  --basic-color11: rgba(0, 0, 0, 0.4);
  --basic-color12: rgba(251, 86, 90, 1);
  --basic-color13: #DBDBDB;
  --basic-colo14: rgba(40, 49, 54, 1);
  --basic-color15: #f1f1f1;
  --basic-color16: rgba(255, 255, 225, 0);
  --basic-color17: #DFDFDF;
  --basic-color18: #D5D5D5;
  --basic-color19: rgba(0, 0, 0, 0.3);
  --basic-color20: rgba(255, 255, 255, 0.3);
  --basic-color21: rgba(0, 1, 1, 0.1);
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: Roboto, arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-style: normal;
  min-height: 100%;
  min-width: 1183px;
}

.container {
  width: 1182px;
  margin: 0 auto;
  padding: 0 11px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Начало шапки */
.header {
  background-color: var(--basic-very-light-gray);
  padding-top: 48px;
  min-width: 1182px;
}

.header__inner {
  display: flex;
  justify-content: space-between;

}

.logo {
  min-width: 160px;
  min-height: 65px;
  display: flex;
}

.logo__img {
  max-height: 100%;
  min-width: 100%;
}

.menu {
  margin-bottom: auto;
  margin-top: 11px;
  margin-left: 14%;
  margin-right: 20.5%;
}

.menu__list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 19px;
  flex-wrap: wrap;
}


.menu__item+.menu__item {
  margin-left: 45px;
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  color: var(--basic-black);
  display: block;
  text-transform: uppercase;
}

.menu__link_active:after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: var(--basic-red);
  width: 100%;
  left: 0;
  bottom: -18px;
}

.cart {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-left: 0;
  margin-top: 13px;

}

.cart__link {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.cart__link::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 24.84px;
  vertical-align: top;
}

.cart a {
  color: var(--basic-black);
  margin-top: 3px;
}


.menu__link:hover,
.cart__link:hover {
  color: var(--basic-red2);
}


.menu__link:active,
.menu__link:focus,
.cart__link:active,
.cart__link:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.logo__img:hover {
  opacity: 0.7;
}

.logo__img:active,
.logo__img:focus {
  opacity: 0.3;
}

.title {
  background-color: var(--basic-very-light-gray);
  min-height: 237px;
  display: flex;
  align-items: center;
  min-width: 1182px;
}

.title h1 {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-bottom: 32px;
  letter-spacing: 0.2px;
}

/* Конец шапки */

/* Начало слайдера */
.div-slider {
  background-color: var(--basic-very-light-gray);
}

.slider-background {
  background-color: var(--basic-very-dark-grey-2);
}

.slider {
  background-color: var(--basic-very-light-gray);
  margin-top: 0;
  margin-bottom: 80px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'slide';
  position: relative;
  z-index: 1;
  height: 427px;
}

.slide {
  display: flex;
  grid-area: slide;
  margin: 0;
  opacity: 0;
  z-index: -5;
  transition: all 0.3s;
  width: 1157px;
  height: 427px;
}

.slide.slide--current {
  opacity: 1;
  z-index: 1;
}

.slide>figcaption {
  width: 398px;
}

.slide h3 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 54px;
  margin-top: 75px;
  margin-bottom: 26px;
}

.h-slide2 {
  width: 538px;
}

.slide p {
  margin-bottom: 38px;
  width: 400px;
  height: 49px;
  font-family: Roboto, arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
  display: flex;
  align-items: center;
  color: var(--basic-extra-dark);
  width: 416px;
}

.nerds-slide-img {
  display: block;
  padding-right: 1px;
}

.button {
  min-width: 240px;
  min-height: 50px;
  background: var(--basic-red);
  border-radius: 3px;
  font-family: Roboto, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  appearance: none;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--basic-red2);
}

.button:focus,
.button:active {
  background-color: var(--basic-red3);
  color: var(--basic-gray2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider-controls {
  display: flex;
  height: 18px;
  padding: 0;
  appearance: none;
  justify-content: center;
  position: absolute;
  bottom: 96px;
  left: 591px;
  transform: translateX(-50%);
  z-index: 9;
  padding-left: 17px;
}

.slider-controls button {
  display: block;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 17px;
  position: relative;
  width: 18px;
  height: 18px;
  padding: 0;
}

.current button {
  display: block;
  border: 2px solid var(--basic-light-gray);
  border-radius: 50%;
  cursor: pointer;
  left: 681px;
  top: 436px;
  width: 8px;
  height: 8px;
  position: relative;
}

.current::after {
  content: "";
  display: block;
  margin: auto;
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-light-gray);
  border-radius: 50%;
}

.services {
  background-color: var(--basic-white);
  min-width: 1157px;
  margin-top: 80px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-start;
}

.services-item {
  width: 300px;
  margin-bottom: 36px;
}

.services-item:not(:nth-child(3n-2)) {
  margin-left: 100px;
}

.services_h {
  font-size: 24px;
  line-height: 30px;
  padding-left: 1px;
  padding-top: 1px;
}

.services-img {
  font-family: Roboto, arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services_p {
  width: 260px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
  margin-top: -7px;
}

.button-services {
  min-width: initial;
  margin-top: 16px;
}

.services-button1 {
  width: 160px;
  height: 50px;
  color: var(--basic-white);
  appearance: none;
}

.services-button1:link {
  background: var(--basic-green);
}

.services-button1:hover {
  background: var(--basic-red2);
}

.services-button1:focus,
.services-button1:active {
  background: var(--basic-red3);
}

.services-button2 {
  background: var(--basic-green);
  width: 160px;
  height: 50px;
  appearance: none;
}

.services-button2:link {
  background: var(--basic-green);
}

.services-button2:hover {
  background: var(--basic-green2);
}

.services-button2:focus,
.services-button2:active {
  background: var(--basic-green3);
}

.services-button3 {
  background: var(--basic-yellow);
  width: 160px;
  height: 50px;
  appearance: none;
}

.services-button3:link {
  background: var(--basic-yellow);
}

.services-button3:hover {
  background: var(--basic-yellow2);
}

.services-button3:focus,
.services-button3:active {
  background: var(--basic-yellow3);
}

.about-company-section {
  display: flex;
  justify-content: space-between;
  height: 413px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  position: relative;
  margin-top: 80px;
}

.about-company-section::before {
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-very-light-gray);
  top: -37px;
}

.about-company-section::after {
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-very-light-gray);
  bottom: -79px;
}

.slogan {
  font-family: Roboto, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  padding-left: 1px;
}

.about-company {
  width: 651px;
  height: 413px;
}

.about-company_p {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-extra-dark);
  padding-bottom: 25px;
}

.about-company-span {
  font-style: normal;
  font-weight: bold;
  vertical-align: super;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.benefits {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.benefits-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
  list-style: none;
}

.benefits-item {
  position: relative;
  margin-top: 24px;
  margin-left: -5px;
}

.benefits-item::before {
  content: "";
  position: absolute;
  left: -6%;
  top: 50%;
  width: 25px;
  height: 2px;
  transform: translateY(-50%);
  background-color: var(--basic-color12);
}

.working-conditions-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 21px;
  padding-left: 20px;
}

.about-company a {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-company-item {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  width: 78px;
  height: 75px;
}

.about-company-definition {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-dark);
  width: 107px;
  height: 37px;
  margin: 0;
}

.about-company-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 112px;
  margin-top: 31px;
  margin-left: 2px;
}

.working-conditions {
  width: 360px;
}

.nerds-illustration {
  width: 360px;
  height: 208px;
  margin-left: 2px;
  margin-top: 2px;
}

.clients-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 79px;
  background-image: url("../img/rectangle1.png");
  background-position: bottom, 0 0;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  padding: 0 14px;
}

.img-clients {
  opacity: 0.2;
}

.img-clients:hover {
  opacity: 1;
}

.img-clients:active,
.img-clients:focus {
  opacity: .1;
}

.clients {
  width: 298px;
  height: 180px;
  position: relative;
  display: grid;
  place-items: center;
}

.img-clients-academy {
  margin-left: -24px;
}

.img-clients-mishka {
  margin-right: -22px;
}

.clients:nth-of-type(4n-3),
.clients:last-of-type {
  width: 278px;
}

.clients:not(:nth-of-type(4n))::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 52px;
  background-color: var(--basic-very-light-gray);
}

.contacts {
  margin: 0 auto;
  min-width: 1182px;
}

.contacts-figure {
  display: grid;
  grid-template-areas: 'contacts';
  margin: 0;
  background-color: var(--basic-green4);
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  min-height: 416px;
}

.contacts-figcaption {
  grid-area: contacts;
  z-index: 1;
  background-color: var(--basic-white);
  width: 319px;
  height: 308px;
  padding: 34px 50px;
  margin-left: calc((100% - 1160px) / 2);
  margin-top: auto;
  margin-bottom: auto;
}

.map {
  grid-area: contacts;
  max-width: 100%;
}

.map-img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 416px;
  background-color: var(--basic-green4);
}

.contacts h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.address {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-very-dark-grey-2);
}

.contacts-phone {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: var(--basic-very-dark-grey-2);
}

.button-write {
  display: grid;
  min-width: 219px;
  min-height: 50px;
  grid-area: contacts;
  margin-top: 37px;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-social {
  display: flex;
  min-width: 1157px;
  height: 81px;
  justify-content: space-between;
  margin: 70px auto;
}

.footer-social h3 {
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin-top: 7px;
  margin-bottom: 0;
  vertical-align: top;
}

.footer-social p {
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-very-dark-gray);
  margin-top: 9px;
  vertical-align: top;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: start;
  padding-left: 0;
  min-width: 400px;
  margin: 0;
}

.social-list>li+li {
  margin-left: 9px;
}

.social-button {
  display: block;
  width: 81px;
  height: 81px;
  background-color: var(--basic-very-light-gray-2);
  border-radius: 50%;
}

.social-button:hover {
  background-color: var(--basic-red2);
}

.social-button:active,
.social-button:focus {
  background-color: var(--basic-red3);
  color: var(--basic-color20);
}

.social-button--vk {
  background-image: url("../img/vk-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-button--fb {
  background-image: url("../img/fb-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.social-button--insta {
  background-image: url("../img/insta-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.popup {
  display: none;
  flex-wrap: wrap;
  width: 960px;
  height: max-content;
  background-color: var(--basic-white);
  padding: 100px 100px;
  box-shadow: 0 20px 40px var(--basic-color11);
  right: 0;
  margin: auto;
  position: relative;
  width: 50%;
}

.popup.active {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 999;
}

.popup-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-color: var(--basic-white);
}

.popup-close:hover {
  opacity: 1;
}

.popup-close:active,
.popup-close:focus {
  opacity: 0.1;
}

.popup-name {
  width: 360px;
  height: 50px;
  border: 2px solid var(--basic-color10);
}

.popup-name:hover {
  border: 2px solid var(--basic-color9);
}

.popup-name:active,
.popup-name:focus {
  border: 2px solid var(--basic-color7);
}

.popup-h {
  width: 100%;
  height: 53px;
  font-family: Roboto, arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.popup-item-p {
  width: 50%;
}

.popup-letter {
  width: 760px;
  height: 118px;
  border: 2px solid var(--basic-color10);
}

.popup-letter:hover {
  border: 2px solid var(--basic-color9);
}

.popup-letter:active,
.popup-letter:hover {
  border: 2px solid var(--basic-color7);
}

.popup-button {
  width: 259px;
  height: 50px;
}

.inner-page .main-header {
  background-color: var(--basic-very-light-gray);
}

.inner-page {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.header-shop {
  width: 727px;
  height: 55px;
  font-family: Roboto, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.page-catalog {
  width: 1159px;
  display: grid;
  grid-template-columns: 1fr 758px;
  grid-template-rows: auto 1fr;
  margin: 0 auto;
}

.sorting {
  display: flex;
}

.shop {
  display: grid;
  grid-template-columns: 358px 358px;
  gap: 34px 40px;
  grid-column: 2/-1;
  grid-row: 2/3;
  margin-bottom: 60px;
}

.product {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background: var(--basic-color8);
  border: 1px solid var(--basic-color7);
}

.product-link {
  padding-top: 40px;
  position: relative;
  display: block;
  transition: all 0.4s;
}

.product-link::before,
.product-link::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 13px;
  left: 16px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.product-link::after {
  left: 39px;
  box-shadow: 22px 0 0 0 var(--basic-white);
}

.product:hover {
  box-shadow: 0 6px 15px var(--basic-color6);
  background-color: var(--basic-color5);
  transition: all 0.4s;
}


.button-product {
  min-width: 200px;
  min-height: 50px;
}

.product-details {
  position: absolute;
  bottom: 0;
  padding-top: 14px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 41px;
  background-color: var(--basic-very-light-gray);
  text-align: center;
  z-index: 1;
  transform: translateY(101%);
  transition: all 0.4s;
}

.product:hover .product-details {
  transform: translateY(0);
  transition: all 0.4s;
}

.filters {
  width: 260px;
  grid-row: 1/3;
  position: relative;
}

.filters-list {
  list-style: none;
  margin-bottom: 27px;
  padding: 0;
}

.filters-list>li {
  position: relative;
  margin-bottom: 16px;
  padding-left: 36px;
}

.filters-li:hover {
  color: var(--basic-extra-dark);
}

.filters-li:active,
.filters-li:focus {
  color: var(--basic-extra-dark);
}

.input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 23px;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  left: 0;
  opacity: 0.4;
}

.input-checkbox:checked+label::before {
  background-image: url("../img/checkbox-on.png");
}

.radio {
  position: relative;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.png");
  background-repeat: no-repeat;
  opacity: 0.4;
  left: 0;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  background-image: url("../img/radio-on.png");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.input-checkbox:focus+label::after,
.input-checkbox:focus+label::before,
.filter-input-radio:focus+label::after,
.filter-input-radio:focus+label::before,
.input-checkbox+label:hover:before,
.input-checkbox+label:hover:after,
.filter-input-radio+label:hover:after,
.filter-input-radio+label:hover:before {
  opacity: 1;
}

input.filter-input-radio:disabled,
input.input-checkbox:disabled {
  opacity: 0.3;
}

.filters-current {
  color: var(--basic-dark);
}

.filter-item {
  margin: 0;
  padding: 0;
  border: 0;
}

.range-filter {
  width: 260px;
  margin-top: 52px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 16px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-color15);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-color3)
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-color2);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-color1);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}


.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: Roboto, arial, sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  padding-right: 5px;
  margin-left: 8px;
  text-align: center;
  color: var(--basic-very-dark);
  border: 0;
  border-radius: 5px;
  background: var(--basic-color15);
  font-family: inherit;
  font-size: inherit;
}

.sorting-header {
  min-width: 134px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 55px;
  margin-bottom: 43px;
}

.sorting-list {
  list-style: none;
  padding: 0;
  height: 18px;
  min-width: 359px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  display: flex;
  margin-left: auto;
  margin-top: 62px;
  margin-bottom: 53px;
}

.sorting-list li,
.sorting-list a {
  color: var(--basic-colo14);
}

.sorting-list li+li {
  margin-left: 25px;
}

.sorting-list li:nth-last-child(1) {
  margin-left: 18px;
}

.sorting-list li:nth-last-child(2) {
  margin-left: auto;
}


.filters-header {
  text-transform: uppercase;
  padding-top: 57px;
  margin: 0;
}

.filters-header.gap-smaller {
  padding-top: 20px;
  letter-spacing: -0.6px;
}

.filters-sorting a {
  text-decoration: none;
}

.sorting-link {
  color: var(--basic-black);
  opacity: 0.3;
  position: relative;
}


.sorting-link:hover {
  opacity: 0.6;
}

.sorting-link:active,
.sorting-link:focus {
  opacity: 1;
}

.icon-down-dir::before {
  content: "";
  display: inline-block;
  background-image: url("../img/down.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 11px;
  height: 10px;
  vertical-align: top;
}

.icon-up-dir:before {
  content: "";
  display: inline-block;
  background-image: url("../img/up.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 11px;
  height: 10px;
  vertical-align: top;
}


.button-sorting {
  width: 260px;
  height: 50px;
  margin-top: 20px;
  background: var(--basic-very-light-gray);
  border-radius: 3px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.button-sorting:hover {
  background: var(--basic-color17);
}

.button-sorting:active,
.button-sorting:focus {
  background: var(--basic-color18);
  color: var(--basic-color19);
  box-shadow: inset 0px 3px 0px var(--basic-color21);
}

.header-demonstration {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.header-demonstration:hover {
  color: var(--basic-red);
}

.header-demonstration:active,
.header-demonstration:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.text-demonstration {
  width: 255px;
  min-height: 37px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-very-dark-grey-2);
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 22px;
  grid-column: 1/-1;
  padding: 0;
}

.button-pagination {
  min-width: 50px;
  min-height: 50px;
  background: var(--basic-very-light-gray);
  border-radius: 3px;
  border: 0;
  box-sizing: border-box;
  padding: .6rem;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  color: var(--basic-black);
}

.button-pagination:hover {
  background: var(--basic-color17);
}

.button-paginstion:active,
.button-pagination:focus {
  background: var(--basic-color18);
  color: var(--basic-color19);
  box-shadow: inset 0px 3px 0px var(--basic-color21);
}


.button-pagination.current {
  background: var(--basic-white);
  border: 3px solid var(--basic-color13);
  box-sizing: border-box;
  border-radius: 3px;
}

.pagination>li+li {
  margin-left: 11px;
}

.pagination-current {
  background-color: var(--basic-white);
  box-shadow: inset 0 0 0 3px var(--basic-color13);
}

.next {
  width: 260px;
  background: var(--basic-very-light-gray);
  border-radius: 3px;
  text-transform: uppercase;
}
