/* Variables */

:root {
--basic-black: #000000;
--basic-white: #ffffff;
--basic-gray: #a6a6a6;
--basic-extra-dark: #283136;
--basic-light-gray: #C1C1C1;
--basic-very-light-gray: #EEEEEE;
--basic-red: #FB565A;
--basic-red2: #E74246;
--basic-red3: #D7373B;
--basic-green: #00CA74;
--basic-yellow: #EFC849;
--basic-very-light-gray-2:#E1E1E1;
--basic-very-dark-gray: #444444;
--basic-very-dark-grey-2: #666666;
}

/* Global */

body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: Roboto, arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-style: normal;
  }

  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  /* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-very-light-gray);
}

.site-navigation {
  list-style: none;
}

.site-navigation a
{
  color: var(--basic-black);
}
.site-navigation a:hover{
  color: rgba(251, 86, 90, 1);
}

.site-navigation a:active,
.site-navigation a:focus{
color: var(--basic-black);
opacity: 0.3;
}

.logo-link:hover{
opacity: .7;
}

.logo-link:active,
.logo-link:focus{
opacity: .3;
}

.slider{
  background-color: var(--basic-very-light-gray);
}

.slider-title h3{
font-weight: 500;
font-size: 55px;
line-height: 55px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slider-title p{
width: 400px;
height: 49px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--basic-extra-dark);
}

.button{
min-width: 240px;
min-height: 50px;
background: var(--basic-red);
border-radius: 3px;
font-family: Roboto, arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
color:var(--basic-white);
text-transform: uppercase;
appearance: none;
padding: 1rem 2rem;
box-sizing: border-box;
border: none;
display: inline-block;
text-align: center;
vertical-align: middle;
}

.button:hover{
background:var(--basic-red2)
}

.button:focus,
.button:active{
background: var(--basic-red3);
color: rgba(255, 255, 255, 1);
}

h2{
  visibility: hidden;
}

.slider-controls {
  bottom: 92px;
  left: 536px;
}

.slider-controls button {
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  padding:0;
  appearance: none;
}

.services{
  background-color: var(--basic-white);
}

.services-list{
  list-style: none;
}

.services-item a{
font-family: Roboto, arial, sans-serif;
font-weight: bold;
font-size: 24px;
line-height: 30px;
text-transform: uppercase;
color:var(--basic-black);
}

.services-item p{
width: 260px;
height: 48px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--basic-extra-dark);
}

.services-button1{
width: 160px;
height: 50px;
color:var(--basic-white);
padding: 0;
appearance: none;
}

.services-button1:link{
background: var(--basic-green);
}

.services-button1:hover{
background:var(--basic-red2);
}

.services-button1:focus,
.services-button1:active{
  background: var(--basic-red3);
}

.services-button2{
background: var(--basic-green);
width: 160px;
height: 50px;
padding:0;
appearance: none;
}

.services-button2:link{
background: var(--basic-green);
}

.services-button2:hover {
  background:#00BC6C;
}

.services-button2:focus,
.services-button2:active {
  background: #00AA62;
}

.services-button3{
background: var(--basic-yellow);
width: 160px;
height: 50px;
padding:0;
appearance: none;
}
.services-button3:link{
background: var(--basic-yellow);
}

.services-button3:hover{
background: rgba(234, 181, 52, 1);
}

.services-button3:focus,
.services-button3:active{
background: rgba(229, 167, 34, 1);
}

.slogan{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color:var(--basic-black);
}

.about-company p{
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--basic-extra-dark);
}

.benefits{
font-weight: bold;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
color:var(--basic-extra-dark);
}

.benefits-list{
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--basic-extra-dark);
}

.about-company a{
font-weight: bold;
font-size: 16px;
line-height: 24px;
text-transform: uppercase;
color: var(--basic-black);
}

.about-company-item{
font-weight: bold;
font-size: 45px;
line-height: 64px;
color:var(--basic-black);
}

.about-company-definition{
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: var(--basic-extra-dark);
}

.contacts h3{
font-weight: bold;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
}

.address,
.contacts-phone{
font-weight: normal;
font-size: 16px;
line-height: 18px;
align-items: center;
color: var(--basic-very-dark-grey-2);
}

.button-write{
  min-width: 219px;
  min-height: 50px;
}

.footer-social h3{
font-weight: bold;
font-size: 36px;
line-height: 36px;
color:var(--basic-black);
}

.footer-social p{
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: var(--basic-very-dark-gray);
}

.social-list{
list-style: none;
}

/* Main header */
.inner-page .main-header {
  background-color: var(--basic-very-light-gray);
}

.inner-page {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.header-shop{
font-weight: 500;
font-size: 55px;
line-height: 55px;
color:var(--basic-black);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li,
.breadcrumbs a{
  color: rgba(40, 49, 54, 1);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}

.breadcrumbs-header{
width: 134px;
height: 30px;
font-weight: bold;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
}

.breadcrumbs .sorting{
width: 60px;
height: 18px;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: var(--basic-black);
}

.sorting2,
.sorting3{
  opacity: .3;
}

.button-sorting{
width: 260px;
height: 50px;
background: var(--basic-very-light-gray);
border-radius: 3px;
color:var(--basic-black);
text-transform: uppercase;
}

.header-demonstration{
  width: 71px;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color:var(--basic-black);
}

.text-demonstration{
width: 255px;
height: 37px;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: var(--basic-very-dark-grey-2);
}

.pagination{
  list-style: none;
}

.button-pagination{
  min-width: 50px;
  min-height: 50px;
  background: var(--basic-very-light-gray);
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  padding: 1rem 2rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 2rem;
  color:var(--basic-black);
}

.button-pagination.current{
background: var(--basic-white);
border: 3px solid #DBDBDB;
box-sizing: border-box;
border-radius: 3px;
}

.next{
width: 260px;
height: 50px;
background: var(--basic-very-light-gray);
border-radius: 3px;
text-transform: uppercase;
}
